body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin: auto;
    max-width: 50em;
}

h1 {
    font-size: 3em;
}

#body h1 {
    font-size: 3em;
    color: #1C2833;
}

#body h1:before {
    content: "# ";
}

#body h2 {
    font-size: 2.5em;
}

#body h2:before {
    content: "## ";
}

#body h3 {
    font-size: 2em;
}

#body h3:before {
    content: "### ";
}

#body h4 {
    font-size: 1.5em;
}

#body h4:before {
    content: "#### ";
}

#body h5 {
    font-size: 1em;
}

#body h5:before {
    content: "##### ";
}

#page-title {
    text-align: center;
}

#page-title h1 a, .post a {
    color: black;
}

a {
    text-decoration: none;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    display: inline-block;
}

#posts {
    padding-left: 2em;
}

#icon {
    padding-left: 0em;
    text-align: left;
    width:auto;
    height:auto;
    max-width: 50em;
}

#icon img {
    height: auto;
    vertical-align: middle;
    width: auto;
    max-width: 10%;
}

#icon span {
    display: inline-block;
    vertical-align: middle;
    word-break:break-word;
    width: auto;
    height: auto;
    max-width: 40em;
}


#lists {
    padding-left: 0em;
}

#page-no a {
    color: black;
}

#page-no a:hover {
    text-decoration: underline;
}

#footer a {
    color: black;
}

#footer a:hover {
    text-decoration: underline;
}

#common-a a {
    color: black;
}

a {
    color: black;
}

#common-a a:hover {
    text-decoration: underline;
}

.post {
    padding-left: 1em;
}

.blog-post {
    padding-left: 1em;
}

table,table tr th, table tr td { 
    border:1px solid #B3B6B7; 
}
table { 
    width: 50em; 
    text-align: left;
    border-collapse: collapse;
}

#toc {
    font-size:12px;
}
